<table>
    <thead>
        <tr>
            <th>idx</th>
            <th>creator_id</th>
            <th>title</th>
            <th>content</th>
            <th>modidate</th>
            <th>modidate</th>
            <th>passwd</th>
        </tr>
    </thead>
    <tbody data-bind="wrap">
    </tbody>
    <script type="text/x-handlebars-template" id="getDataContents">
        <tr>
            <td>{{idx}}</td>
            <td>{{creator_id}}</td>
            <td>{{title}}</td>
            <td>{{content}}</td>
            <td>{{regdate}}</td>
            <td>{{modidate}}</td>
            <td>{{passwd}}</td>
        </tr>
    </script>
</table>
