<div class="module_tab1" data-module-tab="wrap">
    <ul data-module-tabBtn="wrap">
        <li data-module-tab="contentsList" class="on"><button type="button" class="module_tab__button" data-tab-value="apple"><span>사과</span></button></li>
        <li data-module-tab="contentsList"><button type="button" class="module_tab__button" data-tab-value="lemon"><span>레몬</span></button></li>
        <li data-module-tab="contentsList"><button type="button" class="module_tab__button" data-tab-value="pineapple"><span>파인애플</span></button></li>
    </ul>
    <script data-ui-work="wrap" type="text/x-handlebars-template">
        <div class="module_tab__contents">
            <p>{{color}}</p>
            <p>{{price}}</p>
            <p>{{favor}}</p>
        </div>
    </script>
    <div class="module_tab__contents">
        <p>빨간색</p>
        <p>중간</p>
        <p>단맛</p>
    </div>
</div>
