<div class="write-wrap">
    <form name="user" method="post" action="/write/add">
        <span><%= title %></span>
        <table>
            <caption>글쓰기 폼</caption>
            <colgroup>
                <col style="width:20%"/>
                <col style="width:80%"/>
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">작성자 아이디</th>
                    <td><input type="text" name="creator_id" id="creator_id"/></td>
                </tr>
                <tr>
                    <th scope="row">제목</th>
                    <td><input type="text" name="title" id="title"/></td>
                </tr>
                <tr>
                    <th scope="row">내용</th>
                    <td><input type="text" name="content" id="content"/></td>
                </tr>
            </tbody>
        </table>
        <div class="btn-wrap is-center">
            <a href="/board">목록으로 </a>
            <button type="submit" >Submit</button>
        </div>
    </form>
</div>
