@charset "utf-8";
.module_select_box{ display:inline-block; position:relative; width:100px; height:40px; }
.module_select_box__btn{ width:100px; height:40px; padding:10px; border:1px solid #ccc; text-align:left; }
.module_select_box__list_wrap{ display:none; position:absolute; width:98px; left:0; top:39px; border:1px solid #ccc; background-color:#fff; }
.module_select_box__list_wrap.on{ display:block; }
.module_select_box__list_wrap li a{ display:block; padding:10px; }
.module_select_box select{ display:none; }
/************ Mobile ************/
@media all and (max-width:1024px){
    .module_select_box select{ display:block; position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
}
